@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    // --primary: 11 98% 57%;
    --primary: 7 96% 58%;
    --primary-foreground: 0 85.7% 97.3%;

    --orange: 16 100% 56%;
    --orange-foreground: 0 85.7% 97.3%;

    --secondary: 210 20% 98%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 221 15% 44%;

    --accent: 210 20% 98%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 97%;
    --input: 0 0% 97%;
    --ring: 11 98% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
